<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>

<!--Navbar-->
{% include "navbar.html" %}
<!--Search Results-->

    <form class="row results-search-form">
        <div class="row">
            <input type="text" class="results-search-bar col-sm-10" name="loc">
            <div class="col-sm-2 btn-wrapper">
                <button type="submit" class="btn">
                    <i class='fas fa-search fa-1x'></i> Search
                </button>
            </div>
        </div>
    </form>
    {% for store in stores %}
    <div class="row search-submit-result">
        <div class="col-sm-10">
            <h2 class="store-name">{{store[1]}}</h2>
            <h3 class="store-address">
            {% for item in store[2] %}
                {% if item != store[2][-1] %}
                    {{item}},
                {% else %}
                    {{item}}
                {% endif %}
            {% endfor %}
            </h3>
        </div>
        <div class="col-sm-2 btn-wrapper">
            {% if store[3] == -1 %}
            <h2 class="busyness-level-label">No Data Available</h2>
            {% elif store[3] == 1 %}
            <h2 class="busyness-level-label">Dead</h2>
            {% elif store[3] == 2 %}
            <h2 class="busyness-level-label">Unbusy</h2>
            {% elif store[3] == 3 %}
            <h2 class="busyness-level-label">Normal</h2>
            {% elif store[3] == 4 %}
            <h2 class="busyness-level-label">Slightly Busy</h2>
            {% elif store[3] == 5 %}
            <h2 class="busyness-level-label">Very Busy</h2>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</body>
</html>